<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="$1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Storage</title>
        <link rel="stylesheet" href="dist/css/rise.min.css">
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>

    </head>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    <body>
      <div class="container support-app">


<div class="col-md-9 blog-main">
      <!-- ngInclude: undefined --><ng-include src="uiComponents[activeComponent].template" class="ng-scope"><h1 class="add-bottom ng-scope">Responsive Table</h1>

<p class="lead ng-scope">The standard table component used to display data in a tabular format.</p>

<p class="add-bottom ng-scope"><strong>Dependencies</strong> <span class="label label-info">bootstrap</span>
<span class="label label-info">jQuery.dotdotdot</span>
</p>

<div class="add-bottom ng-scope">
<h3>Table Styling</h3>
<p class="add-bottom">Add all tables inside a div with <code>.content-box</code> class to show the white box container.</p>

<h3>Table row as a link</h3>
<p>Add class <code>.clickable-row</code> to display the pointer cursor when entire row is a link.</p>

<h3>Drop Columns</h3>
<p>Use bootstrap <code>.hidden-</code> and <code>.visible-</code> classes to hide and show columns according to viewport size.</p>

<div class="content-box">
  <table class="table-2 table-hover">
    <thead>
      <tr>
        <th class="col-lg-3 col-xs-3" ng-click="sortBy(table1, 'name')">
          Name
          <!-- ngIf: table1.sortBy == 'name' --><i ng-if="table1.sortBy == 'name'" class="fa ng-scope fa-long-arrow-up" ng-class="{false: 'fa-long-arrow-up', true: 'fa-long-arrow-down'}[table1.reverse]"></i><!-- end ngIf: table1.sortBy == 'name' -->
        </th>
        <th class="col-lg-3 col-xs-3 hidden-sm hidden-xs" ng-click="sortBy(table1, 'description')">
          Description
          <!-- ngIf: table1.sortBy == 'description' -->
        </th>
        <th class="col-lg-2 col-xs-2 hidden-xs" ng-click="sortBy(table1, 'clientId')">
          Client ID
          <!-- ngIf: table1.sortBy == 'clientId' -->
        </th>
        <th class="col-lg-2 col-xs-2 hidden-xs" ng-click="sortBy(table1, 'url')">
          URL
          <!-- ngIf: table1.sortBy == 'url' -->
        </th>
        <th class="col-lg-2 col-xs-2 text-right visible-lg" ng-click="sortBy(table1, 'modified')">
          Modified
          <!-- ngIf: table1.sortBy == 'modified' -->
        </th>
      </tr>
    </thead>
    <tbody>
      <!-- ngRepeat: row in table1.table | orderBy:table1.sortBy:table1.reverse --><tr class="clickable-row ng-scope" ng-repeat="row in table1.table | orderBy:table1.sortBy:table1.reverse">
        <td class="col-lg-3 col-xs-3"><a href="#"><strong class="ng-binding">Api Explorer</strong></a></td>
        <td class="col-lg-3 col-xs-3 hidden-sm hidden-xs"><a href="#" class="ellipsis ellipsis-md ng-binding" dotdotdot="" style="word-wrap: break-word;">Lorem ipsum dolor sit amet, consectetur... </a></td>
        <td class="col-lg-2 col-xs-2 hidden-xs"><a class="ellipsis ellipsis-xs ng-binding" href="#" dotdotdot="" style="word-wrap: break-word;">10383154717... </a></td>
        <td class="col-lg-2 col-xs-2 hidden-xs"><a class="ellipsis ellipsis-xs ng-binding" href="#" dotdotdot="" style="word-wrap: break-word;">http://rise-visi... </a></td>
        <td class="col-lg-2 col-xs-2 text-right visible-lg"><a class="nowrap ng-binding" href="#">26-Nov-2014 1:46 PM</a></td>
      </tr><!-- end ngRepeat: row in table1.table | orderBy:table1.sortBy:table1.reverse --><tr class="clickable-row ng-scope" ng-repeat="row in table1.table | orderBy:table1.sortBy:table1.reverse">
        <td class="col-lg-3 col-xs-3"><a href="#"><strong class="ng-binding">Google Api Explorer</strong></a></td>
        <td class="col-lg-3 col-xs-3 hidden-sm hidden-xs"><a href="#" class="ellipsis ellipsis-md ng-binding" dotdotdot="" style="word-wrap: break-word;">Lorem ipsum dolor sit amet, consectetur... </a></td>
        <td class="col-lg-2 col-xs-2 hidden-xs"><a class="ellipsis ellipsis-xs ng-binding" href="#" dotdotdot="" style="word-wrap: break-word;">10393154717... </a></td>
        <td class="col-lg-2 col-xs-2 hidden-xs"><a class="ellipsis ellipsis-xs ng-binding" href="#" dotdotdot="" style="word-wrap: break-word;">http://rise-visi... </a></td>
        <td class="col-lg-2 col-xs-2 text-right visible-lg"><a class="nowrap ng-binding" href="#">26-Nov-2014 1:46 PM</a></td>
      </tr><!-- end ngRepeat: row in table1.table | orderBy:table1.sortBy:table1.reverse -->
    </tbody>
  </table>
</div>

<h3>Stack Columns</h3>
<p class="add-bottom add-top">Add the class <code>.table-stack</code> to get a stacked columns view on mobile resolution.</p>

<div class="content-box">
  <table class="table-2 table-hover table-stack">
    <thead>
      <tr>
        <th class="col-lg-1 col-sm-1 col-xs-6" ng-click="sortBy(table2, 'id')">
          ID
          <!-- ngIf: table2.sortBy == 'id' --><i ng-if="table2.sortBy == 'id'" class="fa ng-scope fa-long-arrow-down" ng-class="{false: 'fa-long-arrow-up', true: 'fa-long-arrow-down'}[table2.reverse]"></i><!-- end ngIf: table2.sortBy == 'id' -->
        </th>
        <th class="col-lg-1 col-sm-1 col-xs-6" ng-click="sortBy(table2, 'status')">
          Status
          <!-- ngIf: table2.sortBy == 'status' -->
        </th>
        <th class="col-lg-6 col-sm-4 col-xs-12" ng-click="sortBy(table2, 'subject')">
          Subject
          <!-- ngIf: table2.sortBy == 'subject' -->
        </th>
        <th class="col-lg-2 col-sm-3 col-xs-6 text-right" ng-click="sortBy(table2, 'requested')">
          Requested
          <!-- ngIf: table2.sortBy == 'requested' -->
        </th>
        <th class="col-lg-2 col-sm-2 col-xs-6 text-right" ng-click="sortBy(table2, 'requester')">
          Requester
          <!-- ngIf: table2.sortBy == 'requester' -->
        </th>
      </tr>
    </thead>
    <tbody>
      <!-- ngRepeat: row in table2.table | orderBy:table2.sortBy:table2.reverse --><tr class="clickable-row ng-scope" ng-repeat="row in table2.table | orderBy:table2.sortBy:table2.reverse">
        <td class="col-lg-1 col-sm-1 col-xs-6 ticket-id"><a href="#" class="ng-binding">#2345</a></td>
        <td class="col-lg-1 col-sm-1 col-xs-6 ticket-status"><a href="#" class="ng-binding">Resolved</a></td>
        <td class="col-lg-6 col-sm-4 col-xs-12 ticket-subject"><a class="ellipsis ellipsis-md" href="#" dotdotdot="" style="word-wrap: break-word;"><strong class="ng-binding">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et... </strong></a></td>
        <td class="col-lg-2 col-sm-3 col-xs-6 text-right ticket-date"><a class="nowrap ng-binding" href="#">7-Dec-2014 1:46 PM</a></td>
        <td data-th="by" class="col-lg-2 col-sm-2 col-xs-6 text-right ticket-requester"><a href="#" class="ng-binding">Jane Doe</a></td>
      </tr><!-- end ngRepeat: row in table2.table | orderBy:table2.sortBy:table2.reverse --><tr class="clickable-row ng-scope" ng-repeat="row in table2.table | orderBy:table2.sortBy:table2.reverse">
        <td class="col-lg-1 col-sm-1 col-xs-6 ticket-id"><a href="#" class="ng-binding">#1234</a></td>
        <td class="col-lg-1 col-sm-1 col-xs-6 ticket-status"><a href="#" class="ng-binding">New</a></td>
        <td class="col-lg-6 col-sm-4 col-xs-12 ticket-subject"><a class="ellipsis ellipsis-md" href="#" dotdotdot="" style="word-wrap: break-word;"><strong class="ng-binding">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et... </strong></a></td>
        <td class="col-lg-2 col-sm-3 col-xs-6 text-right ticket-date"><a class="nowrap ng-binding" href="#">26-Nov-2014 1:46 PM</a></td>
        <td data-th="by" class="col-lg-2 col-sm-2 col-xs-6 text-right ticket-requester"><a href="#" class="ng-binding">John Doe</a></td>
      </tr><!-- end ngRepeat: row in table2.table | orderBy:table2.sortBy:table2.reverse -->
    </tbody>
  </table>
</div>

</div>



<div class="add-bottom ng-scope">
<h3>Individual columns as hyperlinks</h3>
<p>No class is needed on the <code>tr</code> element. Only the links should have a hover effect when mouse is over the row.</p>
    <div class="content-box table-responsive">
      <table class="table-2 table-hover">
        <thead>
          <tr>
            <th ng-click="sortBy(table3, 'invoice')">
              Invoice
              <!-- ngIf: table3.sortBy == 'invoice' -->
            </th>
            <th class="text-right" ng-click="sortBy(table3, 'date')">
              Date
              <!-- ngIf: table3.sortBy == 'date' -->
            </th>
            <th class="text-right" ng-click="sortBy(table3, 'amount')">
              Amount
              <!-- ngIf: table3.sortBy == 'amount' -->
            </th>
            <th>CSV</th>
          </tr>
        </thead>
        <tbody>
          <!-- ngRepeat: row in table3.table | orderBy:table3.sortBy:table3.reverse --><tr ng-repeat="row in table3.table | orderBy:table3.sortBy:table3.reverse" class="ng-scope">
            <td>
              <a href="" class="ng-binding">1312-21596829</a>
            </td>
            <td class="text-right ng-binding">
              Nov 11, 2014
            </td>
            <td class="text-right ng-binding">
              $10.00
            </td>
            <td>
              <a href="#">Invoice Detail CSV File</a>
            </td>
          </tr><!-- end ngRepeat: row in table3.table | orderBy:table3.sortBy:table3.reverse --><tr ng-repeat="row in table3.table | orderBy:table3.sortBy:table3.reverse" class="ng-scope">
            <td>
              <a href="" class="ng-binding">1312-12323429</a>
            </td>
            <td class="text-right ng-binding">
              Dec 3, 2014
            </td>
            <td class="text-right ng-binding">
              $25.00
            </td>
            <td>
              <a href="#">Invoice Detail CSV File</a>
            </td>
          </tr><!-- end ngRepeat: row in table3.table | orderBy:table3.sortBy:table3.reverse -->
        </tbody>
      </table>
    </div>

</div>

<div class="add-bottom ng-scope">
<h3>Using ellipsis on table content</h3>
<p>Use the scss mixin <code>ellipsis</code> to define line width and number of lines.</p>
<p>Possible values for width are: small, medium, large and full. There's no limit on number of lines.</p>
<p>Example:<code>@include ellipsis(2,full);</code> Ellipsis will happen when text grows more than 2 lines but will allow for full width according to container size.</p>
</div>
</ng-include>
    </div>        






      </div>
    </body>
</html>