.app-header {
  @include make-row;
  padding: 15px 0;
  margin-top: -20px;
  position: relative;
  .title-block {
  @include make-sm-column(6);
    h1 {
      display: inline-block;
      font-weight: 400;
      line-height: 42px;
      margin: 0 5px 0 0;
    }
    .store-status-2 {
      display: inline-block;
      margin-top: 12px;
      vertical-align: top;
    }
  }
  p {
    color: #777;
    line-height: 42px;
    @media (max-width: 768px) {line-height:20px; text-align: left;}
  }
  .global-actions {
    @include make-sm-column(6);
    text-align: right;
    @media (max-width: 768px) {
      float:none;
      margin-top: 10px;
      .btn {
        float: none;
        font-size: 14px;
        margin: 0 0 4px;
        padding: 8px;
        width: 100%;
      }
    }
  }
}

.selector-header {
  padding: 0 15px 15px;
  p {
    line-height: 20px;
    margin: 0;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    &:first-child {
      display:block;
    }
  }
  @media (max-width: 768px) {
    .icon-nav {
      .btn {
        margin-left: -4px;
      }
    }
    .store-status-2 {
      vertical-align: top;
      display: block;
      margin: 10px 0 0 0;
      .btn {
        float: right;
      }
    }
  }
}

/* ==========================================================================
   DEPRECATE
   ========================================================================== */

.active-folder {
  .fa:before {
    color:$rise-green;
  }
  span {
    margin-left: 5px;
    vertical-align: top;
    display: inline-block;
    margin-top: 5px;
    color: $gray;
  }
}
