.app-header {
  @include make-row;
  padding-bottom: 20px;
  border-bottom: 1px solid #D6D6D6;

  .app-title {
    @include make-sm-column(6);
  }
  .app-title-links,
  .app-title-links:hover,
  .app-title-links:active  {
    display: block;
    color: $brand-success;
    i:before { color: $brand-success !important; }
  }
  h1 {
    line-height: 40px;
    font-weight: 400;
    margin: 0 5px 0 0;
    display: inline-block;
  }
  .btn-github, .btn-status {
    vertical-align: top;
    margin-top: 28px;
  }
  .global-actions {
    @include make-sm-column(6);
    margin-top: 20px;
    .btn {
      float: right;
      margin-left: 10px;
    }
  }
  @media(max-width: $screen-sm){
    .global-actions {
      float:none;
      .btn {
      width: 100%;
      margin: 0 0 10px 0;
      }
    }
  }
}
