.authorization-modal {
	text-align: center;

	.profile-img {
		width: 72px;
		height: 72px;
		-webkit-border-radius: 72px;
			 -moz-border-radius: 72px;
						border-radius: 72px;
	}

	p,
	.btn { margin-top: 40px; }
}