.double-margin {
	margin-bottom: 40px !important;
}

.sub-company-alert.test-company-alert {
	background-color: $brand-danger;
}

.sub-company-alert.test-company-alert + .sub-company-alert {
	margin-top: 5px;
}

.sub-company-alert {
	width: 100%;
	line-height: 24px;
	bottom: -24px;
	background-color: lighten($brand-danger, 25%);
	color: #000;
	padding: 0 20px;
	border-bottom: 1px solid lighten($brand-danger, 15%);
	text-align: center;
	display: inline-block;
}

.sub-company-alert .link-button {
	display: inline-block;
	font-weight: bold;
}

.authorization-modal {
	text-align: center;

	.profile-img {
		width: 72px;
		height: 72px;
		-webkit-border-radius: 72px;
			 -moz-border-radius: 72px;
						border-radius: 72px;
	}

	p,
	.btn { margin-top: 40px; }
}

.user-profile-dropdown {
  .dropdown-toggle {
    .user-id {
      float: left;
      span {
        margin-right: 10px;
        white-space: nowrap;
        display: block;
        color: #777;
        text-align: right;
        font-size: 12px;
        line-height: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .dropdown-header {
    color: #555;
    padding: 15px;
    &.sub-company-header {
      background: #f8e4e2;
    }
    p {
      line-height: 18px;
      margin: 0;
      font-size: 13px;
      overflow: hidden;
      @media (max-width: 480px) {
        strong {
          text-overflow:ellipsis;
          display: block;
          overflow: hidden;
          max-width: 260px;
        }
        a {
          display: block;
          margin-top:5px;
        }
        .text-muted {
          display: none;
        }
      }
    }
  }
  .dropdown-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e6e6e6;

  }
  @media (max-width: 480px) {
    .user-id {
      span {
        max-width:96px;
        margin-right: 0;
      }
    }
    .profile-pic {
      display: none;
    }
  }
}

.app-navigation li {
  padding: 0;
}

