/* ==========================================================================
   Modals
   ========================================================================== */

/**
 * Part of workaround for Bootstrap bug where content shifts when modal
 * is opened.
 *
 * https://github.com/twbs/bootstrap/issues/9855
 */
.modal-open {
  overflow: auto;
}

.modal-custom > div {
    width: auto;
    display: table;
    .modal-content {
      p {
        display: inline-block;
        white-space: nowrap;
      }
    }
  @media (max-width: $screen-xs) {
    display: block;
    .modal-content {
      p {
        white-space: normal;
      }
    }
  }
}

.modal { z-index: 9999; }

.modal-backdrop.in { z-index: 9001; }

.modal-content {
  padding: 0;
  background: #fcfcfc;
}

.modal-header {
  margin-bottom: 0;
  background: $lighter-gray;
  border-radius: 4px 4px 0 0;
  .close {
    font-size: 16px;
    padding: 15px;
    margin-top: 0px;
  }
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  padding:15px;
}

.modal-title + .header-nav {
  margin-top: -5px;
}

.modal-header,
.modal-footer {
  border: none;
  overflow: hidden;

  .btn {
    .fa::before, .glyphicons::before {
      /* Display & Box Modes */
      margin-top: -2px;
      /* Visual */
    }
  }
}


.modal-body {
  padding:15px;
}

.modal-header, .modal-footer {
  padding: 0;
}

.modal-footer {
  padding: 0 15px 15px;
  margin-top: 0;

  .btn-fixed-width {
    width: 102px;
  }

  input[type="checkbox"] { float: none; }
}

/* Sign In button that is part of a modal. */
.modal-dialog .sign-in,
.modal-dialog .sign-in:hover {
  @extend .btn-sign-in;

  /* Positioning */
  float: left;

  .fa::before, .glyphicons::before {
    line-height: 30px; /* TODO: Make this a variable. */
  }
}

/* Modal scrollable list
   ========================================================================== */
.scrollable-list {

  overflow: auto;
  overflow-y: scrollable;
  cursor: pointer;
}

.scrollable-list::-webkit-scrollbar {
    -webkit-appearance: none;
}

.scrollable-list::-webkit-scrollbar:vertical {
    width: 11px;
}

.scrollable-list::-webkit-scrollbar:horizontal {
    height: 11px;
}

.scrollable-list::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.scrollable-list::-webkit-scrollbar-track { 
    background-color: #fff; 
    border-radius: 8px; 
} 


/* Media queries
   ========================================================================== */
@media (max-width: $screen-xs) {
  .modal-dialog { margin: 5px; }

  .modal-header {
    .modal-title {  }
    .close { padding: 15px;}
  }

  .modal-footer {
    .btn-fixed-width {
      width: 96px;
    }
  }

}
