
// SPACING FOR SHOPPING CART
.shopping-cart {

		.inner-box {
		  position: relative;
		  border: 1px solid #DDD;
		  background: #FFF;
		  border-radius: 5px;
		  padding: 8px 12px;
		  margin-top: 4px;
		}

		.table {
		    margin-bottom: 0;
		}
		.wrapper {
		    padding: 0;
		}

		.subtotals tbody tr td {
		  padding: 2px 8px;
		}

		.alert-danger {
		    margin-bottom: 0;
		}

		// THIS IS TO HAVE THE DROPDOWN REMAIN STATIC AS THE RESOLUTION LOWERS
		select.form-control {
			width: inherit;
			top: -9px;
  			position: relative;
		}


}


