.subscription-status {
    font-size: 16px;
    display: none;
    width: 100%;
    margin-bottom: 10px;
    padding: 4px;
    text-align: center;
    color: white;
    &.active {
        display: inline-block;
    }
    &.trial {
        background: #4ab767;
    }
    &.trial .btn-white {
        font-size: 16px;
    }
    &.expired,
    &.suspended,
    &.cancelled {
        color: #d20606;
        background: #f0b9b8;
    }

    &.expired .btn-white,
    &.suspended .btn-white,
    &.cancelled .btn-white {
        color: #d20606;
        background-color: white;
    }

    @media (max-width: 768px) {
        .btn-white {
            display: block;
            width: 100%;
            margin-top: 10px;
        }
    }
}
