<div class="container">
	<div class="row">

		<!-- Sidebar -->
		<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="component in uiComponents"
        		ng-class="{active: activeComponent==$index}">
        			<a ng-href="#/components/{{$index}}">{{component.title}}</a>
        </li>
      </ul>
	  </div>
	  <!-- END Sidebar -->

	  <!-- Component Main -->
		<div class="col-sm-8 blog-main">
			<ng-include src="uiComponents[activeComponent].template"></ng-include>
		</div>
		<!-- END Component Main -->
	</div>
</div>