/* ==========================================================================
   SASS Extend
   ========================================================================== */
.button-hover {
  background: $lighter-gray;
  border-color: $light-gray;
}

/* ==========================================================================
   Standard tags
   ========================================================================== */
html,
body {
  /* Display & Box Model */
  height: 100%;

  /* Fir off Canvas Menu */
  overflow-x: hidden;

  /* Visual */
  background: $lighter-gray;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  /*background: transparent;*/
}

/**
 * Start of workaround for Bootstrap bug where content shifts when modal
 * is opened.
 *
 * https://github.com/twbs/bootstrap/issues/9855
 */
html {
  overflow: hidden;
  -ms-overflow-style: scrollbar;
}

body { overflow: auto; }
/* End of workaround */

h1, h2, h3, h4, h5, h6 { font-weight: bold; }

a:hover {
  text-decoration: none;

  .fa::before, .glyphicons::before {
    color: $dark-gray;
  }

  .fa-danger::before , .glyphicon-danger::before{
    color: $danger;
  }
}

/* ==========================================================================
   Content
   ========================================================================== */
.wrapper {
  padding-bottom: 20px;
  /*background-color: $lighter-gray; Moved to body. */
}

/* Boxed content
   ========================================================================== */
.content-box {
  /* Positioning */
  position: relative;

  /* Display & Box Model */

  /* Visual */
  background: #fff;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
}

/* ==========================================================================
   Tables
   ========================================================================== */
.table {
  margin-top: 5px;

  > thead > tr > th {
    background: none;
    border-color: #cbcbcb;
  }
}

/* Horizontal rule
   ========================================================================== */
.hr-thick {
  border-top: 2px solid #cbcbcb;
}

.hr-dashed {
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 2px dashed #cbcbcb;
}

/* App menu items
   ========================================================================== */
.menu-box {
  /* Display & Box Model */
  width: 50%;

  /* Visual */
  text-align: center;

  a {
    /* Display & Box Model */
    display: block;
    padding: 20px 10px;

    /* Visual */
    color: $gray;

    &:hover {
      background-color: $lighter-gray;
    }
  }

  span {
    /* Display & Box Model */
    display: block;
    width: 100%;

    /* Visual */
    font-size: 12px;
  }

  .fa, .glyphicons {
    @extend .fa-box;
    @extend .glyphicon-box;
    margin: 0 auto;
  }

  .fa::before , .glyphicons::before{ font-size: 40px; }
}