@mixin ellipsis($line-number,$line-width) {
  max-height: 
    ($line-number * 20px);
  @if $line-width == small {
    width: 120px
  }
  @if $line-width == medium {
    width: 160px
  } 
  @if $line-width == large {
    width: 320px
  }
  @if $line-width == full {
    width: 100%
  }  
}
.ellipsis {
  overflow: hidden;
  display: block;
}
span.ellipsis {
  display: inline-block;
  vertical-align: top;
}
.nowrap {
  white-space: nowrap;
}
.ellipsis-md {
  @include ellipsis(2,full);
}
.ellipsis-full {
  @include ellipsis(1,full);
}
.ellipsis-sm {
  @include ellipsis(1,medium);
}
.ellipsis-lg {
  @include ellipsis(1,large);
}
.ellipsis-xs {
  @include ellipsis(1,small);
}
.ahrefdisabled {
  color: #AAAAAA;
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}
.highlighted {
  background: #FFFFE0;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
}
%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.clickable {
  cursor: pointer;
}

