.reboot-time {
  table.time-picker {
    display: inline-block;
    vertical-align: middle;
  }
  label, .checkbox {
    display: inline-block;
  }
  @media (max-width: 768px) {
    .checkbox {
      display: block;
    }
  }
}

.display-settings {
  #display-status {
    text-align: right;
    * {
      display: inline-block;
    }
  	.form-control {
  	  width: 120px;
  	  margin-right: 5px;
  	}
  	@media (max-width: 768px) {
      text-align: left;
  	  .form-control {
  	  	width: 100px;
  	  }
  	}
  }
  #monitor {
    margin-left: 20px;
    @media (max-width: 768px) {
      margin-left:0;
    }
  }
  @media (max-width: 768px) {
    #installed-buttons button {
      display: block;
      width: 100%;
      margin-bottom: 5px;
    }
  }
}

.ui-sortable-helper {
  border:1px solid #d4d4d4;
  border-radius: 4px;
  overflow: hidden;
}

.ui-sortable-placeholder {
  background: #f2f2f2;
  visibility: visible!important;
}

.offline {
  &:before {
    color:#e74c3c;
  }
}
.noninstalled {
  &:before {
    color:#444;
  }
}
.online {
  &:before {
    color:$rise-green;
  }
}