.reboot-time {
  table.time-picker {
    display: inline-block;
    vertical-align: middle;
  }
  label, .checkbox {
    display: inline-block;
  }
  @media (max-width: 768px) {
    .checkbox {
      display: block;
    }
  }
}

.button-row {
  overflow: hidden;
  margin: 20px 0;
}