.playlist-block .playlist-item .collapse-control {
  line-height: 34px;
}
.sidebar .header-collapse .btn-link {
  border:none;
}
.sidebar .header-collapse .btn-link .fa {
  vertical-align: bottom;
}

.sort-handle {
  line-height: 50px;
  float: left;
  margin-right: 10px;
}

.content-box-shadow {
  @extend .sidebar;
}

.header-collapse {
  cursor: pointer;
}


.sidebar {
  border-radius: $border-radius-base2;
  box-shadow:0px 1px 1.5px 0px rgba(0,0,0,0.12),0px 1px 1px 0px rgba(0,0,0,0.24);
  background: #FFFFFF;
  margin-bottom: 10px;
  overflow: hidden;
  hr {
    margin: 15px 0;
  }
  .header{
    background: $lighter-gray;
    padding: 0;
    h3{
      line-height: 34px;
      margin:0 15px;
      font-size: 16px;
      font-weight: 500;
    }
    h3 + .header-nav {
      margin-top: -10px;
    }
    .collapse-control {
      float: right;
      line-height: 34px;
      margin-right: 15px;
      -webkit-transition: all 150ms linear;
        -moz-transition: all 150ms linear;
        -o-transition: all 150ms linear;
        -ms-transition: all 150ms linear;
        transition: all 150ms linear;
    }
  }
  &.open {
    .header {
      padding: 10px 0 0 0;
      h3 {
        margin:0 15px;
      }
      .collapse-control {
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }
  .header-collapse {
  cursor: pointer;
  overflow: hidden;
  .btn-link {
    vertical-align: top;
    padding: 0 15px;
    height: 34px;
    color: #777;
    &:hover {
      text-decoration: none;
    }
    .fa:before {
      font-size:16px;
      }
    }
    .btn + h3 {
      margin: 0;
    }
    h3 {
    display: block;
    }
  }
  .content {
    padding: 15px;
  }
  .sidebar-collapsible {
    label {
      line-height: 34px;
      display: block;
      cursor: pointer;
      .fa {
        float: right;
        line-height: 34px;
        margin-right: 15px;
      }
      i {
        -webkit-transition: all 150ms linear;
        -moz-transition: all 150ms linear;
        -o-transition: all 150ms linear;
        -ms-transition: all 150ms linear;
        transition: all 150ms linear;
      }
      &.open {
        i {
          filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }
  }
}

.presentation-block {
  h4 {
    margin: 0;
    line-height: 24px;
  }
  p {
    color: #777;
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 500;
  }
}

.checkout-content {
  h4 {
    font-weight: 500;
    font-size: 16px;
    color: $gray;
  }
}

.header-nav {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0;
  &.steps-nav {
    position: relative;
    &:before {
      content:'';
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      top: 16px;
      background: $light-gray;
    }
    li {
      a {
        padding: 0 10px;
        span {
          background: $lighter-gray;
          padding: 0 5px;
        }
      }
    }
    @media (max-width: 320px) {
      li {display: none;}
      li.active {
        display: inline-block;
      }
    }
  }
  .btn-link {
    position: relative;
    padding: 0 15px;
    border-bottom: none;
    line-height: 34px;
    color: $gray;
    &:hover {
      text-decoration: none;
    }
    &.active {
      box-shadow: none;
      font-weight: 500;
      color: $dark-gray;
      &:after {
        content: '';
        @include css-triangle ("up", 8px, #fff);
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -8px;
      }
    }
  }
  li {
    display: inline-block;
    position: relative;
    &.cta {
      padding: 0;
      margin-right: 0;
      float: right;
      @media (max-width: 480px) {
        float:none;
        display: block;
        margin-left: 15px;
        .btn-primary {
          
        }
      }
    }
    &.active {
      a {
        font-weight: 500;
        color: $dark-gray;
        &:after {
          content: '';
          @include css-triangle ("up", 8px, #fff);
          position: absolute;
          bottom: 0;
          left: 50%;
          margin-left: -8px;
        }
      }
    }
    a {
      display: block;
      line-height: 34px;
      padding: 0 15px;
      color: $gray;
    }
  }
}

.playlist-block {
  border-bottom: 1px solid $light-gray;
  position: relative;
  &:last-child {
    border-bottom: none;
  }
  &.open {
  }
  .icon-medium {
    float: left;
    margin-right: 10px;
  }
  .description {
    margin-left: 85px;
    p {margin: 0; line-height: 25px;}
    a {
      display: inline-block;
    }
  }
  .playlist-properties {
    padding: 0 15px;
  }
  .toggle-block {
    cursor: pointer;
    height: 50px;
    width: 100px;
    position: absolute;
    top: 0;
    right: 15px;
    text-align: right;
    span {
      line-height: 80px;
      display: block;
    }
  }
  .sort-handle {
    cursor: move;
    display: block;
    padding: 0 15px;
    margin: 0 0 0 -15px;
  }
  .presentation-name {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @media (max-width: 768px) {max-width: 300px;}
    @media (max-width: 480px) {max-width: 180px; display:block;}
  }
}

.timeline-tag {
  padding: 0 3px;
  display: inline-block;
  color: #666;
  border-radius: 4px;
  margin: 0 3px;
  
  span {
    margin-top: 3px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    vertical-align: top;
    display: inline-block;
    padding: 3px 6px;
    margin-right: -4px;
    background: #e6e6e6;
    position: relative;

    &:after {
      content:'';
      display: inline-block;
      width: 6px;
      background: #e6e6e6;
      border-top: 1px solid #CCC;
      border-bottom: 1px solid #CCC;
      border-radius: 0 4px 4px 0;
      height: 27px;
      position: absolute;
      top: -1px;
      right: -6px;
    }
    &:before {
      content:'';
      display: inline-block;
      border-top: 1px solid #CCC;
      border-bottom: 1px solid #CCC;
      border-radius: 4px 0 0 4px;
      width: 6px;
      background: #e6e6e6;
      height: 27px;
      position: absolute;
      top: -1px;
      left: -3px;
    }
    &:first-child {
      border-radius: 4px 0 0 4px;
      padding-left: 10px;
      border-left: 1px solid #CCC;
      margin-left: -3px;
      &:before {
        display:none;
      }
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
      padding-right: 10px;
      border-right: 1px solid #CCC;
      &:after {
        display:none;
      }
    }    
  }
}

.transform-component {
  @include make-row;
  .form-group {
    @include make-xs-column(6);
    .input-group {
      .input-group-addon {
        background:none;
        padding:0;
        border:none;
      }
      .form-control {
        border-radius: 4px !important;
        @media (max-width: 480px) {
          padding-left: 4px;
          padding-right: 4px;
        }
      }
      .control-label {
        width: 52px;
        text-align: right;
        padding-right: 5px;
        @media (max-width: 480px) {
          font-size: 13px;
          width: 48px;
        }
      }
      span.input-group-addon {
        padding-left: 3px;
        font-size: 13px;
      }
    }
  }
}

.custom-addon,.checkbox-addon,.storage-group {
  .input-group-addon {
    background: none;
    padding: 0 0 0 10px;
    border: 0;
  }
  .form-control {
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
  }
}

.placeholder {
  background: rgba(255,255,255,0.6);
  position: absolute;
  cursor: pointer;
  border: 1px solid #bcbcbc;
}

.editor-toggle {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
  opacity: 0.6;
}

.profile-pic {
  vertical-align: top;
} 

.placeholder.active {  
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}


  .input-style {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  }
  .input-style p {
    color: #777;
    -webkit-font-smoothing: subpixel-antialiased;
  }


#Rulers p {
  padding: 0;
  margin:0;
}
#Rulers {
overflow: hidden;
position: absolute;
left: 0;
top: 0;
color: #a7a7a7;
background: #ededed;
box-shadow: -3px 0 4px rgba(0, 0, 0, 0.15);
}
#Rulers #Vertical {
width: 18px;
background: #ededed url("http://192.254.220.36/~rvi/mockups/images/vert.png") repeat-y;
overflow: hidden;
position: relative;
margin-top: 0;
}
#Rulers #Horizontal {
height: 18px;
background: #ededed url("http://192.254.220.36/~rvi/mockups/images/hor.png") repeat-x;
overflow: hidden;
position: relative;
margin-left: 18px;
}
#WorkBench #Area.dotted {
background-image: url('http://subtlepatterns.com/images/transp_bg.png');
background-repeat: repeat;
}
#Rulers #Corner {
position: absolute;
width: 18px;
height: 18px;
left: 0;
top: 0;
overflow: hidden;
background: #ededed;
border-bottom: 1px solid #a7a7a7;
border-right: 1px solid #a7a7a7;
z-index: 40000;
}
#Rulers #Horizontal p {
display: block;
float: left;
width: 100px;
padding: 1px 0 0 3px;
font-size: 9px;
line-height: 10px;
}
#Rulers #Vertical p {
display: block;
font-size: 9px;
height: 100px;
line-height: 8px;
overflow: hidden;
padding: 3px 0 0 2px;
width: 10px;
word-wrap: break-word;
text-align: center;
}
#WorkbenchContainer, .workbench-container {
position: relative;
z-index: 3;
border: 1px solid #d4d4d4;
overflow: hidden;
}
#WorkBench {
left: 17px;
top: 17px;
bottom: 0;
right: 0;
position: absolute;
overflow: auto;
border: 1px solid #cbcbcb;
-moz-user-select: -moz-none;
-webkit-user-select: none;
}
#WorkBench #Area {
width: 5000px;
height: 10000px;
position: relative;
z-index: 30;
background-color: #fff;
box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

.editor-sidebar {
  .title-block h1 {
    font-weight: 300;
    line-height: 34px;
    margin-top: 0;
    margin-bottom:0;
  }
}

.background-group .content-box {
  height: 34px;
  overflow: hidden;
  width: 123px;
  float: right;
}

.background-group .control-label, .settings-group .control-label {
  line-height: 34px;
  margin: 0;
  display: block;
}
.background-group span {
    height: 33px;
    display: block;
    border-radius: 4px;
  }
  .image-placeholder {
    width: 123px;
    height: 123px;
    background-color: #CCC;
    margin-right: 10px;
    border-radius: 4px;
    text-align: center;
    line-height: 122px;
    font-size: 32px;
    border: 1px solid #CCC;
  }
  .image-fill .form-group {
    margin-left: 133px;
  }
  .editor-sidebar h3 {
    font-size: 18px;
    margin: 0;
    line-height: 34px;
    font-weight: 400;
    color: #777;
  }
  .nav>li>a {
  position: relative;
  display: block;
  padding: 7px 10px;
  color: #777;
  font-weight: 500;
  }
  .save-status-messages {
  line-height: 34px;
  display: inline-block;
  font-size: 12px;
  }

.editor-sidebar .save-status-messages {
  display: block;
  line-height: 20px;
  margin-bottom: 5px;
}
  
.color-wheel, .color-wheel:hover {
    background-image: url("http://192.254.220.36/~rvi/mockups/images/color.png");
    background-position: center;
    padding-left: 15px;
    padding-right: 15px;
  }



tr.selected td, tr.selected:hover td {
}

tr.selected td a {
}


ul.sortable {
  list-style: none;
  padding: 0;
  margin:10px 0 20px 0; }

ul.sortable .ghost {
  display: block;
  opacity: 1;
  border: 1px dashed gray;
}
ul.sortable li {
  margin-bottom: 5px;
  list-style: none;
}

ul.sortable li:after {
    content: '';
    clear: both;
    display: block; 
}
ul.sortable li .handle {
  line-height: 34px;
  padding: 0 10px;
  float: left;
}
ul.sortable li .text {
  line-height: 34px;
  padding: 0 10px;
  display: block;
}
 ul.sortable li .handle {
  clear: left; }
 ul.sortable li .handle .fa:before {
  color:#CCC;
}
ul.sortable  li .handle {
    cursor: move; }