.storage-full {

  /* ==========================================================================
     General Styles
     ========================================================================== */
  body {
  	height: 100%;
  }

  .notifications {
    margin: 0px 5px;
  }

}

#store-modal-frame {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
