/* Variables
   ========================================================================== */

// Colors
$rise-green: #4AB767;
$rise-blue: #2d60ad;
$lighter-gray: #FCFCFC;
$light-gray: #E5E5E5;
$gray: #666666;
$dark-gray: #444444;
$danger: #d9534f;
$light-border-color: #ddd;
$white: #fff;

// Borders
$light-border: 1px solid $light-border-color;
$dark-border: 1px solid #ccc;
